@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'QuartzoBold';
  src: local('QuartzoBold'), url(../public/fonts/QuartzoBold.ttf) format('ttf');
}


@import '../styles/Home.module.css';
@import '../styles/About.module.css';
@import '../styles/Tokenomics.module.css';
@import '../styles/Roadmap.module.css';
@import '../styles/Footer.module.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
