/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
}

.logoContainer {
  height: 80%;
  width: 80%;
} */

.first-page{
  background-image: url(../public//images/bg1.png);
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 200vh;
}


.fourth-page{
  background-image: url(../public//images/bg4_edit.png);
  background-repeat: no-repeat;
  background-size: cover;
=======
  background-size: contain;
>>>>>>> c618328d26c375bb3401b04204435d70df1ad5fe
}